<td>{{selling.id}}</td>
<td>{{selling.date | date:'dd/MM/yyyy'}}</td>
<td>{{selling.code}}</td>
<td ng-bind="selling.sum | currency"></td>
<td>
  <!-- Button trigger modal -->
  <a class="btn btn-primary btn-xs"
    ng-hide="selling.new"
    ng-link="['Selling', {id: selling.id}]">
    <span class="glyphicon glyphicon-info-sign"></span>
  </a>
  <button type="button"
    class="btn btn-success btn-xs"
    ng-click="model.saveSelling(selling)"
    ng-show="selling.new">
    <span class="glyphicon glyphicon-ok"></span>
  </button>
</td>